/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body { 
	margin: 0;
	padding: 0;
	background: url(images/background.jpg) no-repeat center fixed; 
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
}

.nav-menu{
	position: absolute;
	padding-left: 280px;
	width:80%;
}

#main-add-button, #main-config-button, #main-fullscreen-button{
	visibility:hidden !important;
}

.nav-menu .navbar-toggle{
	background-color: transparent;
	border: 1px solid #FFF;
	float: left;
	margin-top: 11px;
}

.nav-menu .navbar-toggle .icon-bar{
	background-color: #FFF; 
}

@media only screen and (max-width:1023px) {
	.nav-menu{
		padding-left: 140px;
	}
}

@media only screen and (max-width:767px) {
	.container > .navbar-collapse,
	.container-fluid > .navbar-collapse {
		margin-left: -31px;
	}
	
	.nav-menu{
		padding-left: 15px;
	}
	
	.navbar-collapse {
		box-shadow: none !important;
		max-width:80%;
	}
	
	.navbar-nav {
		margin: 5px -15px !important;
	}

	.navbar-nav ul{
		margin-top: 5px !important;
	}

	.navbar-nav > li > a:hover, .nav > li > a:focus {
		top: 0px !important;
	}

	.navbar-nav li a{
		background-color: #333 !important;
		padding: 20px 25px 20px !important;
	}
	
	.navbar-nav > li > a:hover, .nav > li > a:focus {
		background-color: #111 !important;
		background-image: none !important;
	}
}

.nav .navbar-nav li:hover{
	content: ' ';
	overflow: visible;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0;
	z-index: 1;
	opacity: 0;
	display: inline-block;
	
}

.navbar-nav > li > a:hover, .nav > li > a:focus {
	top: -1px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 100% 70px;
	background-position: center top;
}

/*Option to control selected menu option*/
.menu-selected{
	background-image: url(images/menu-hover.png);
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 100% 70px;
	background-position: center top;
	z-index: 1;
}

@media only screen and (min-width:767px) {
	.navbar-nav > li > a:hover, .nav > li > a:focus {
		background-image: url(images/menu-hover.png) !important;
	}
	
	.menu-selected{
		top: -1px !important;
	}
}

.navbar-nav li a{
	color: #F5F5F5;
	background-color: transparent;
	font: 16px;
	padding: 16px 25px 40px;
	position: relative;
	z-index: 3;
	text-decoration: none !important ;
	white-space: nowrap;
}

/* fix navbar on all layout */
.windows-header{
	display: block !important;
}

.tab {
	background-color: #FFF;
	opacity: 0.88;
	padding-bottom: 15px;
}

.first-tab {
	margin-top: 10%;
	text-align: center !important;
}

.other-tab {
	margin-top: 60px;
}

p{
	text-align: justify;
}

.center {
	text-align: center !important;
}

.center p {
	text-align: center !important;
}

.justify {
	text-align: justify !important;
}

.justify p {
	text-align: justify !important;
}

.textes {
	margin-top: 30px;
	margin-bottom: 30px;
}

.comparison-main {
	background: white;
}
